
$ff-regular: 'Inter', sans-serif;
$fw-regular: 400;
$fw-bold: 600;

$clr-accent: rgba(52, 95, 246, 1);
$clr-400: rgba(37, 51, 71, 1);
$clr-300: rgba(94, 110, 133, 1);
$clr-200: rgba(216, 226, 231, 1);
$clr-100: rgba(255, 255, 255, 1);

$fs-mob-text: 16px;

$fs-mob-header: 48px;
$lh-mob-header: 53px;
$fs-desktop-header: 64px;
$lh-desktop-header: 70px;

$fs-mob-subheader: 32px;
$lh-mob-subheader: 35px;
$fs-desktop-subheader: 48px;
$lh-desktop-subheader: 53px;

$fs-mob-smallheader: 24px;
$lh-mob-smallheader: 29px;

$fs-mob-tinyheader: 20px;
$lh-mob-tinyheader: 24px;

$tablet: 768px;
$laptop: 1024px;

