@import '../../styles/variables.scss';

.section_recommendations {
  background: linear-gradient(290.1deg, rgba(214, 230, 254, 0.25) 0%, rgba(214, 252, 254, 0) 100%);
  margin-top: 72px;
  
  @media (min-width: $tablet) {
    margin-top: 96px;
  }

  @media (min-width: $laptop) {
    max-width: 1392px;
    margin-inline: auto;
    border-radius: 35px;
  }
}
.recommendations {
  padding: 56px 0;

  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $laptop) {
    padding: 72px 0 96px 0;
  }

  &__list {
    display: grid;
    gap: 40px;

    @media (min-width: $laptop) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: $tablet) {
      flex-direction: row;
      gap: 40px;
    }

    @media (min-width: $laptop) {
      flex-direction: column;
      gap: 45px;
    }
    
    &Icon {
      width: 64px;
    }
  
    &Title {
      font-size: $fs-mob-smallheader;
      line-height: $lh-mob-smallheader;
      color: $clr-400;
      font-weight: $fw-bold;
      margin-bottom: 24px;
    }
  }

}